body{
    background-color: black;
    background-attachment: fixed;
    background-position: 50% 50% ;
    background-size: 500px 450px;
    color: white;
}

h1{
    font-family: Accidental Presidency;
    font-size: 36px;
}

.container::-webkit-scrollbar{width:0px;
display:none;
}
body{overflow:scroll;}
    ::-webkit-scrollbar {
    width: 0px;}

